body{
    background-color:black;
}
header{
    padding: 10px 5px 10px 5px;
}
.gamename{
    font-weight: 500;
    font-size: larger;
}
#message{
    text-align: center;
    color:white;
}
.grid-container{
    margin-top: 20px;
    display: grid;
    align-items:center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}
.grid-item{
    font-size: 30px;
    height:100px;
    min-width: 100px;
    text-align: center;
    color:white;
}
.flex-container{
    display:flex;
    margin-top: 50px;
}
.flex-child{
    justify-content: center;
    color:white;
}
.flex-child:first-child{
    margin-right: 200px;
}
.border-right{
    border-right: 2px solid blue;
}
.border-bottom{
    /* border: 2px solid blue; */
}
#score-1{
    text-align: center;
    font-size: 25px;
}
#score-2{
    text-align: center;
    font-size: 25px;
}
.playerImage{
    height:40px;
    width:40px;
}
.border-scoretable{
   border:1px solid blue;
}